#flexbox{
    display:flex;
    background:#ddd;
    width: 100%;
    height:auto;
    padding:10px;
}
.box-item{
    background:white;
    text-align: center;
    padding:15px 40px;
    border:5px solid #ddd;
  }
  
  /*ボタン*/
  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: rgb(129, 129, 129);
    color: black;
  }

  .btn-flat-border1 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 3px;
    transition: .4s;
    background-color: rgb(27, 156, 236);
  }
  
  .btn-flat-border:hover {
    background: rgb(23, 136, 206);
    color: white;
  }
