{% load static %}
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/homepage.css' %}">
</head>
<body class="lan">
    <div id="flexbox">
        <div class="box-item1">
            <a href="#" class="btn-flat-border left-aligned">Quitter</a>
            <a href="#" class="btn-flat-border">Home</a>
            <a href="#" class="btn-flat-border">Explore</a>
            <a href="#" class="btn-flat-border">Notifications</a>
            <a href="#" class="btn-flat-border">Messages</a>
            <a href="#" class="btn-flat-border">Lists</a>
            <a href="#" class="btn-flat-border">Bookmarks</a>
            <a href="#" class="btn-flat-border">Communities</a>
            <a href="#" class="btn-flat-border">Verified</a>
            <a href="#" class="btn-flat-border">Profile</a>
            <a href="#" class="btn-flat-border">More</a>
            <a href="#" class="btn-flat-border1">Post</a> 
        </div>
    
        <div class="box-item2">
        <h4>Home</h4> 
        <div id="flexboxmain">
            <div class="boxitemmain1">For you</div>
            <div class="boxitemmain2">Following</div>
        </div>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <input required type="text" name="text" id="textbox" placeholder="What is happening?!">
            <!--見る人のセレクト-->
            <div class="selectbox">
                <select>
                    <option>Everyone can reply</option>
                    <option>People you follow</option>
                    <option>Only people you mention</option>
                </select>
            </div>
            <br>

            <button type="submit">Post</button>
        </form>
        {% for text in Text %}
        <div class="postbox">
            <p>{{ text.text }}</p>
            <p>Posted at {{text.created_at}}</p>
            <button class="delete">Delete</button>
            <button class="addcomment">Add comment</button>
        </div>
        {% endfor %}
        
        </div>
        <div class="box-item3">
        <p>Search Quitter</p>

        <p>Get Verified</p>
        <p>Subscribe to unlock new features.</p>
        <p>Get Verified</p>
        
        <p>What's happening</p>
        <p>Show more</p>

        <p>Who to follow</p>
        <p>Show more</p>
        </div>         
    </div>
</body>
</html>