{% load static %}
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/homepage.css' %}">
</head>
<header>Top</header>
<body class="lan">
    <div id="flexbox">
        <div class="box-item">
        <a href="#" class="btn-flat-border">Home</a>
        <a href="#" class="btn-flat-border">Explore</a>
        <a href="#" class="btn-flat-border">Notifications</a>
        <a href="#" class="btn-flat-border">Messages</a>
        <a href="#" class="btn-flat-border">Lists</a>
        <a href="#" class="btn-flat-border">Bookmarks</a>
        <a href="#" class="btn-flat-border">Communities</a>
        <a href="#" class="btn-flat-border">Verified</a>
        <a href="#" class="btn-flat-border">Profile</a>
        <a href="#" class="btn-flat-border">More</a>
        <a href="#" class="btn-flat-border1">Post</a> 
        </div>
        <div class="box-item">
        Home 
        for you 
        following
        </div>
        <div class="box-item">
        Search Quitter

        Get Verified
        Subscribe to unlock new features.
        Get Verified
        
        What's happening
        Show more

        Who to follow
        Show more
        </div>         
      </div>
</body>
</html>

{% extends "./base.html" %}
 
