{% load static %}
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/homepage.css' %}">
    <link rel="stylesheet" href="{% static './css/profile.css' %}">
</head>

<body class="lan">
    <div id="flexbox">
        <div class="box-item1">
            <a href="#" class="btn-flat-border left-aligned">Quitter</a>
            <a href="{% url 'home' %}" class="btn-flat-border">Home</a>
            <a href="#" class="btn-flat-border">Explore</a>
            <a href="#" class="btn-flat-border">Notifications</a>
            <a href="#" class="btn-flat-border">Messages</a>
            <a href="#" class="btn-flat-border">Lists</a>
            <a href="#" class="btn-flat-border">Bookmarks</a>
            <a href="#" class="btn-flat-border">Communities</a>
            <a href="#" class="btn-flat-border">Verified</a>
            <p class="btn-flat-border">Profile</p>
            <a href="#" class="btn-flat-border">More</a>
            <a href="#" class="btn-flat-border1">Post</a> 
        </div>
    
        <div class="box-item2">
            <a href="{% url 'user_logout' %}">ログアウト</a>
            <h4>profile</h4> 
            <form method="GET" action="{% url 'searchprofile' %}">
                <input type="text" name="query" placeholder="ユーザーを探す">
                <button type="submit">検索</button>
            </form>
            <p>ユーザー：{{ username }}</p>
            <p>location:{{ user_profile.location }}</p><p>birthday:{{ user_profile.birthday }}</p>
            <p>{{ user_profile.introduction_text }}</p>
        </div>

        <div class="box-item3">
        <p>Search Quitter</p>

        <p>Get Verified</p>
        <p>Subscribe to unlock new features.</p>
        <p>Get Verified</p>
        
        <p>What's happening</p>
        <p>Show more</p>

        <p>Who to follow</p>
        <p>Show more</p>
        </div>         
    </div>
</body>