{% load static %}
<head>
  <title>会員登録ページ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/regist.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
  <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/lib/jquery.js' %}"></script>
</head>
<body>
  <div class="container justify-content-center">
    <div class="input-form-backgroud d-flex">
      <div class="input-form col-md-6 mx-auto">
      <h4 class="mb-3">会員登録</h4>
        <form action="{% url 'regist' %}" method="post" name="regiform" id="regist-Form" class="validation-form" novalidate onsubmit="return sendit()">
        {% csrf_token %}
          <div class="row">
            <div class="mb-3">
              <label for="username">ユーザー名</label><span class="asterisk">*</span>
              <input name="username" type="text" class="form-control" id="username" placeholder="ID" required>
              <p id="result"></p>
            </div>
            
            <div class="mb-3">
              <label for="pw">パスワード</label><span class="asterisk">*</span>
              <input name="password1" type="password" class="form-control" id="password1" placeholder="password" required>
              <div class="invalid-feedback">
                パスワードを入力してください。
              </div>
            </div>

            <div class="mb-3">
              <label for="pw">パスワード再確認</label><span class="asterisk">*</span>
              <input name="password2" type="password" class="form-control" id="password2" placeholder="password" required>
              <div class="invalid-feedback">
                パスワード再確認を入力してください。
              </div>
            </div>

            <div class="mb-3">
              <label for="email">メールアドレス</label><span class="asterisk">*</span>
              <input name="email" type="email" class="form-control" id="email" placeholder="email@example.com" required>
              <div class="invalid-feedback">
                正しいメールアドレスを入力してください。
              </div>
            </div>

            <div class="mb-4">
              <input class="btn btn-primary btn-lg btn-block" type="submit" id="regist-submit" value="作成">
              <input class="btn btn-secondary btn-lg btn-block" type="button" onclick="location.href='../'" value="戻る">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="{% static 'js/regist.js' %}"></script>
</body>
</html>
